*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    width: 1110px;
    margin: 0 auto;
}
.header__logo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 79px;
}
.logo{
    width: 120px;
}
.logo__img{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 79px;
}
.list{
    width: 811px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 18px;
    line-height: 21px;
    gap: 30px;
}
.nav{
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: #8C8A8A;
}






.main__container{
    width: 1110px;
    margin: 0 auto;
}
.main__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}
.main__img{
    padding-top: 38px;
    padding-bottom: 30px;
}
.main__image{
    width: 1110px;
}
.text_content{
    width: 730px;
    background: #F0F0F0;
    padding: 50px 95px 51px 40px;
}
.title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #4581B7;
    padding-bottom: 25px;
}
.text{
font-size: 16px;
line-height: 27px;
color: #808080;
}
.second__content{
    width: 350px;
    background: #F0F0F0;
    padding: 50px 24px 159px 40px;
    
}
.second__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #4581B7;   
    padding-bottom: 25px; 
    
}
.second__text{
    font-size: 16px;
    line-height: 27px;
    color: #808080;
}



.footer__container{
    width: 1110px;
    margin: 0 auto;
    background: #F0F0F0;
}
.footer__content{
   padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.text__footer{
font-size: 16px;
line-height: 19px;
color: #808080;
}
.number{
padding-top: 10px;
font-weight: 700;
font-size: 25px;
line-height: 29px;
color: #808080;
display: flex;
justify-content: flex-end;
}


